#################################################################################
#                                                                               #
#    This file contains parameters, which are required to RUN the application   #
#               (copy this file and set your values as needed)                  #
#                                                                               #
#################################################################################

### DataLoader
# ... if you define sensitive Data (e.g. DB credentials, don't check in this file to SCM or use ansible-vault to encrypt this file)

### Logging ###
# MongoDB - params must be set, if enable_mongodb_logging is set to true in config.yaml
enable_mongodb_logging=False
# each service gets it's own mongodb Database, how should this db be named?
mongo_db_name=ml-service
mongo_db_url=localhost 
mongo_db_port=27017
mongodb_logging_collection_name=prediction_logs
# for possible values see: https://gist.github.com/heyalexej/8bf688fd67d7199be4a1682b3eec7568
timezone=Europe/Berlin 

# EFK-Stack - params must be set, if enable_fluentd_logging is set to true in config.yaml
enable_fluentd_logging=False
fluentd_url=localhost
fluentd_port=24224
fluentd_base_log_name=machine-learning-microservice-template 
# if predict_proba, logs the n classes with highest probabilities
fluentd_log_n_best=2 
